.App, .media{
    width: 560px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid red;
    border-radius: 11px;
    background-color: palegreen;
}
.open{
    background-color: palevioletred;
    border: 1px solid powderblue;
    color:black;
    text-shadow: lavender;
}
.closed{
    background-color: plum;
    border: 1px solid powderblue;
    color: brown;
    text-shadow: lavender;
}
.gate{
    margin: 10px auto;
    padding: 10px 50px;
    width: 560px;
    border-radius: 11px;
    min-height: 200px;
}
p{
    border-bottom: 1px solid olive;
    padding: 5px 5px;
}
ul{
    padding: 5px;
}
li{
    list-style-type: disc;
    padding: 10px;
}
.text{
    font-family: 'Courier New', Courier, monospace;
}
button{
    color: palevioletred;
    background-color: lightpink;
    border-radius: 5px;
    padding: 2px 11px;
    font-size: 18px
}
img{
    width: 70px;
    height: 55px;
    vertical-align: middle;
}
.imgPara{
vertical-align: middle;
}
